@import url("https://use.typekit.net/cof1tnf.css");

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



h2{
  font-family: "Reross", sans-serif !important;
  text-transform: uppercase !important; 
  letter-spacing: 4px !important;
}

h3{
  font-family: "Alkaline", sans-serif !important;
  font-weight: 600 !important;
}



h4 {
    font-family: "bebas-neue-pro-expanded", sans-serif !important;
    text-transform: uppercase !important;
}


.description.text{
 font-family: "PT Serif", serif !important;
 text-transform: lowercase !important;
}


